/client_connect/ccsrc/node_modules/
/dist/
/client_connect/ccsrc/dist/

/deps/HiveMP.ClientConnect/

.vs/
obj/
bin/
/tests/UnityTest-*/Assets/HiveMP/
/tests/UnityTest-*/Assets/HiveMP.meta
/tests/UnityTest-*/Library/
/tests/UnityTest-*/Temp/
/tests/UnityTest-*/*.csproj
/tests/UnityTest-*/*.sln
/tests/UnityBuilds-*/
/Unity-SDK.*.zip

yarn-error.log
Unity.log
/tests/UnrealTest*/Intermediate/
/tests/UnrealTest*/Saved/
/tests/UnrealTest*/Plugins/
/tests/UnrealTest*/Binaries/
/tests/UnrealTest*/UnrealTest*.sln
/tests/UnrealTest*/UnrealTest*.VC.db
/tests/UnrealTest*/UnrealTest*.VC.VC.opendb
/tests/UnrealTest*/Build/
/tests/UnrealBuilds-*/
UnrealEngine-*.zip
*.unitypackage

/client_connect/build/

/node_modules/
/client_connect/ccsrc/src/hivemp/index.ts
/client_connect/cchost/embed.cpp

build/
.DS_Store

/client_connect/sdk/
/tests/*/Assets/HiveMP-Unity/
/tests/*/Assets/HiveMP-Unity.meta
/assets/
/client_connect/build_*/
/tests/UnityTest-*/Build-UnityTest.ps1
/tests/UnityTest-*/License-Unity.ps1
/tests/UnityTest-*/Linux32/HiveMPTest
/tests/UnityTest-*/Linux32/HiveMPTest_Data
/tests/UnityTest-*/Linux64/HiveMPTest
/tests/UnityTest-*/Linux64/HiveMPTest_Data
/tests/UnityTest-*/Mac32/HiveMPTest.app/
/tests/UnityTest-*/Mac64/HiveMPTest.app/
/tests/UnityTest-*/MacUniversal/HiveMPTest.app/
/tests/UnityTest-*/Win32/HiveMPTest.exe
/tests/UnityTest-*/Win32/HiveMPTest_Data/
/tests/UnityTest-*/Win64/HiveMPTest.exe
/tests/UnityTest-*/Win64/HiveMPTest_Data/

/tests/UnrealTest-*/Build-UE4Test.ps1

/client_connect/ccsrc/cache_*/

/tests/TypeScriptNodeJsTest/hivemp.tgz
/tests/TypeScriptNodeJsTest/node_modules/
/tests/TypeScriptNodeJsTest/Build-TypeScriptTest.ps1
/tests/TypeScriptNodeJsTest/yarn.lock
/tests/TypeScriptNodeJsTest/cache/
