/client_connect/ccsrc/node_modules/
/dist/
/client_connect/ccsrc/dist/

/deps/HiveMP.ClientConnect/

.vs/
obj/
bin/
/tests/UnityTest-*/Assets/HiveMP/
/tests/UnityTest-*/Assets/HiveMP.meta
/tests/UnityTest-*/Library/
/tests/UnityTest-*/Temp/
/tests/UnityTest-*/*.csproj
/tests/UnityTest-*/*.sln
/tests/UnityBuilds-*/
/Unity-SDK.*.zip

yarn-error.log
Unity.log
/tests/UnrealTest*/Intermediate/
/tests/UnrealTest*/Saved/
/tests/UnrealTest*/Plugins/
/tests/UnrealTest*/Binaries/
/tests/UnrealTest*/UnrealTest*.sln
/tests/UnrealTest*/UnrealTest*.VC.db
/tests/UnrealTest*/UnrealTest*.VC.VC.opendb
/tests/UnrealTest*/Build/
/tests/UnrealBuilds-*/
UnrealEngine-*.zip
*.unitypackage

/client_connect/build/

/node_modules/
/client_connect/ccsrc/src/hivemp/index.ts
/client_connect/cchost/embed.cpp
