node_modules/
dist/

/deps/HiveMP.ClientConnect/

.vs/
obj/
bin/
/tests/UnityTest/Assets/HiveMP/
/tests/UnityTest/Assets/HiveMP.meta
/tests/UnityTest/Library/
/tests/UnityTest/Temp/
/tests/UnityTest/UnityTest.csproj
/tests/UnityTest/UnityTest.sln

tests/UnityTest/Assembly-CSharp.csproj
yarn-error.log
